html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(117, 117, 117);
    margin: 0px 0px 20px 0px;
    
}

header {

    height: 700px;
    background-image: url("./images/aspen.jpg");
    background-size: cover;
    background-position: center;
    opacity: 1;
    font-family: 'Raleway', sans-serif;
    display: block;
    align-items: center;
    align-content: center;
    
}

header nav.content {
    padding-top: 275px;
    opacity: .6;
    background-color: white;
    height: 425px;
    text-align: center;
    display: block;
    align-items: center;
    align-content: center;
}

nav.content h1 {
    
    font-size: 60px;
    color: black;
    opacity: 1;
    text-align: center;
    align-items: center;
}

nav.content ul li {
    padding: 5px;
    list-style-type: none;
}

nav span img.icon {
    display: inline-block;
    padding: 3px 1px 0px 10px;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: rgb(104, 146, 216);
}

.about h3 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}
.about {
    font-family: 'Cormorant Garamond', serif;
    text-align: center;
    /*background-color: white;
    opacity: .5;*/
    padding: 40px 100px 100px 100px;
}

em {
    font-style: italic;
}

.image_guide {
    text-align: center;
    font-family: 'Cormorant Garamond', serif; 
}

.image_container {
  /*background-color: rgb(117, 117, 117);
  opacity: .5;*/
  display: flex;
  flex-wrap: wrap;
  width: auto;
  padding: 25px 25px;
}

.image {
  display: inline-block;
  flex: 1;
  width: 22.5%;
  height: 200px;
  padding: 10px 10px;
}
.image1{
    display: inline-block;
    flex: 1;
    height: 250px;
    padding: 10px 10px;
}
.image2 {
    display: inline-block;
    /*align-items: center;*/
    width: 45%;
    height: 225px;
    padding: 10px 27.25%;
}  
h3 {
    font-size: 32px;
    font-weight: bold;
}

.career h3 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}
.career {
    padding: 0px 100px; 
    text-align: center;
    border-bottom: 1px;
    border-bottom-color: black;
    color: black;
    font-family: 'Cormorant Garamond', serif;
}

footer {
  text-align: center;
  color: black;
  opacity: .5;
}
